.form-footer {
    display: block;
    margin: 0 auto;
    width: 181px;
    text-align: center;
    font-size: 17px;
    padding-left: 51px;
    letter-spacing: 1px;
    margin-top: -6px;
    color: #ffffff;
}

.form-footer a,
.form-footer a:visited,
.form-footer a:active {
    color: #ffffff;
    cursor: auto;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
