@font-face {
    font-family: RM;
    src: url('RobotoMedium.ttf');
}

@font-face {
    font-family: RL;
    src: url('Roboto-Light.ttf');
}

@font-face {
    font-family: OpenGostTypeATT;
    src: url('OpenGostTypeATT.ttf');
}

@font-face {
    font-family: Ubu;
    src: url('ubuntu-medium.ttf');
}


.main_block {
    width: 100%;
    margin: 0;
    background-color: #f7f7f7;
    font-family: 'RM', arial;
    font-size: 12px;
}