.article-element__nextInfoNews,
.article-element__nextInfoNews:hover,
.article-element__nextInfoNews:visited,
.article-element__nextInfoNews:active {
    color: #87b4a5;
    text-decoration: underline;
    cursor: url(/img/cursor.png), default;
}