.slider-nav__tab {
    display: inline-block;
    margin-top: 24px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-right: 2.1%;
    color: black;
    cursor: url(/img/cursor.png), default;
    padding: 2px 4px 2px 5px;
}

.slider-nav__tab:first-child {
    margin-left: 28.8%;

}

.slider-nav__tab:last-child {
    margin-right: 0;
}

.slider-nav__tab:hover {
    background: #64a195;
    color: #fff;
}