.video__text {
    margin-top: 23px;
    font-size: 37px;
    padding: 0;
    padding-right: 194px;
    color: #000;
    letter-spacing: 7.2px;
    font-weight: bolder;
}

.video__text:hover{
    color: #fff;
    cursor: default;
}