.div-arrow-btn__btn {
    background: url(/img/btn_play.png);
    width: 100px;
    background-size: contain;
    position: absolute;
    height: 80px;
    display: inline-block;
    top: -13px;
    left: 281px;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 6;
}