.form-body__question_lne {
    background: url(/img/line.png);
    border: none;
    width: 92%;
    margin-top: -17px;
    margin-left: 50px;
    height: 79px;
    text-align: center;
    font-size: 16px;
    font-family: RL, arial;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 57px;
}
.form-body__question_lne::placeholder {
    color: #ffffff;
}