.div-title__text1 {
    font-size: 98px;
    margin: 0;
    padding: 0;
    letter-spacing: 16px;

}

.div-title__text2 {
    font-size: 58px;
    padding: 5px;
    letter-spacing: 10.5px;
    line-height: 0.55;
}

.div-title__text3 {
    font-size: 14px;
    line-height: 3;
    font-weight: normal;
    letter-spacing: 6px;
    padding-left: 4px;
    font-family: 'Ubu', arial;
}