.form-body__question_arrow-left {
    display: inline-block;
    background: url(/img/arrow-input-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 84px;
    height: 119px;
    width: 249px;
    border: none;
    text-align: center;
    font-family: RL, arial;
    font-size: 15px;
    float: left;
    margin-left: 50px;
}
.form-body__question_arrow-left::placeholder {
    color: #fff;
}