

.section-video {
    margin-top: 57px;
    height: 532px;
    font-family: 'OpenGostTypeATT', arial;
    font-weight: normal;
    background: #82b39f; /* Old browsers */
    background: -moz-linear-gradient(left, #82b39f 0%, #6ea292 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #82b39f 0%, #6ea292 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #82b39f 0%, #6ea292 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82b39f', endColorstr='#6ea292', GradientType=1); /* IE6-9 */


}