.heder-news__span-btn{
    border: 25px solid transparent;
    display: block;
    border-top: 15px solid #3f3340;
    margin: 0 auto;
    position: relative;
    top: -3px;
    right: 2px;
    width: 0px;

}