.div-arrow-btn__arrow {
    background: url(/img/arrow.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 61px;
    width: 200px;
    height: 104px;
    background-size: contain;
    opacity: 0;
    transform-origin: 50% 0;
}

.test {

    position: absolute;
    overflow: hidden;
    width: 200px;
    top: 15px;
    left: 120px;
    height: 104px;
}