.nav-menu__a-link,
.nav-menu__a-link:visited {
    text-align: center;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    padding-right: 5px;
    padding-left: 4px;
    margin-right: 10px;
    padding-top: 4px;
    margin-left: 0;
    padding-bottom: 4px;
}

.nav-menu__a-link:hover,
.nav-menu__a-link:active {
    background: #64a195;
    color: #ffffff;
    cursor: url(/img/cursor.png), default;
}