.slider-info__text-tab{
    font-family: 'RL', arial;
    width: 50%;
    margin: 0 auto;
    margin-top: 42px;
    line-height: 15px;
    letter-spacing: 1px;
    margin-bottom: 28px;
    display: none;
}