.label{
    background: url(/img/lable.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 37px;
    margin-right: 23px;
    margin-top: 11px;
    display: inline-block;
}