.form-header__title {
    text-align: center;
    font-family: OpenGostTypeATT, arial;
    padding-top: 66px;
    text-transform: uppercase;
    font-size: 39px;
    letter-spacing: 2px;
    word-spacing: 8px;
    color: #fff;
}