.form-body__question_submit {
    background: url(/img/submit.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50px;
    border: none;
    font-family: RL, arial;
    display: block;
    margin: 0 auto;
    width: 46%;
    height: 185px;
    margin-left: 31%;
    font-size: 24px;
    color: #ffffff;
    cursor: url(/img/cursor.png), default;
}
