.div-title-news__span-btn {
    background: #665a8a;
    width: 30px;
    height: 29px;
    margin: 0px;
    text-align: center;
    margin-left: 21px;
    margin-top: 2px;
    font-size: 27px !important;
    color: #fff;
    cursor: url(/img/cursor.png), default;
}