.div-pic {
    background: url(/img/piple.png);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    height: 565px;
    width: 757px;
    position: absolute;
    top: 67px;
    right: 0;
    z-index: 5;
}