.header__logo {
    display: inline-block;
    background: url(/img/header__logo.png) 0 0 no-repeat;
    background-size: contain;
    width: 129px;
    height: 39px;
    margin-left: 16.6%;
    margin-top: 7px;
}
