.section-form__man {
    background: url(/img/man.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -123px;
    right: 0;
    height: 338px;
    width: 428px;
}