.div-title-news__span-text {
    font-family: 'OpenGostTypeATT', arial;
    letter-spacing: 1.4px;
    font-size: 24px;
    padding-left: 3px;
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;
    width: 170px;
}