
.div-auth__a-link,
.div-auth__a-link:active,
.div-auth__a-link:visited {
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-left: 6px;
    margin-right: 6px;
    text-decoration: none;
    color: #000;
    cursor: url(/img/cursor.png), default;
}

.div-auth__a-link:hover {
    color: #64a195;
    cursor: url(/img/cursor.png), default;
}