.title-info__titleText{
    display: block;
    margin-top: 64.2px;
    margin-left: 505.4px;
    width: 35%;
    letter-spacing: 6.6px;
    font-family: "OpenGostTypeATT",arial;
    font-size: 36px;
    text-transform: uppercase;
}