.form-body__question_arrow-rigt {
    display: block;
    background: url(/img/arrow-input-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 84px;
    height: 119px;
    width: 249px;
    border: none;
    text-align: center;
    font-family: RL, arial;
    font-size: 15px;
    float: right;
}
.form-body__question_arrow-rigt::placeholder {
    color: #fff;
}