.heder-news {
    color: #fff;
    height: 57px;
    background: #3f3340;
    line-height: 60px;
    font-size: calc(7px + 1vw);
    text-align: center;
    letter-spacing: 6.2px;
    font-family: 'OpenGostTypeATT', arial;
    cursor: url(/img/cursor.png), default;
}