.title-info__Text {
    display: block;
    margin-top: 16px;
    margin-left: 509px;
    width: 35%;
    font-family: RL, arial;
    letter-spacing: 0.9px;
    font-size: 12px;
    line-height: 1.7;
}